<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>New Employee</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">

</head>
<body>
  <form action="#" th:action="@{/employees/save}"
        th:object="${employee}" method="POST">

    <input type="text" th:field="*{firstName}" placehorder="First Name" class="form-control mb-4 w-25">
    <input type="text" th:field="*{lastName}" placehorder="Last Name" class="form-control mb-4 w-25">
    <input type="text" th:field="*{email}" placehorder="Email" class="form-control mb-4 w-25">

    <button type="submit" class="btn btn-info col-2">Save</button>


  </form>

</body>
</html>